# 0-1. Python Introduction

- Variables and Types
- Arithmetic Operations
- List & Tuple & Dictionary
- Loop
- Function
- Class and Objects

## 1. Variables and Types

In [0]:
a = 10
print(a,type(a),end="\n\n")
                    
b = 3.5
print(b,type(b),end="\n\n")

c = 'Pytorch'
print(c,type(c),end="\n\n")

10 <class 'int'>

3.5 <class 'float'>

Pytorch <class 'str'>

## 2. Arithmetic Operations

In [0]:
a=5
b=7
c=8

print('Add : ' + str(a+b))
print('Subtract : ' + str(a-b))
print('Multiply : ' + str(a*b))
print('Divide : ' + str(a/c))
print('Power : ' + str(c**b))

Add : 12
Subtract : -2
Multiply : 35
Divide : 0.625
Power : 2097152

## 3. List & Tuple & Dictionary


### List

In [0]:
test_list = [1,2,3]
print(test_list)

# .append → add data
test_list.append('abc')
print(test_list)

test_list.append(4)
print(test_list,end="\n\n")

# .remove → delete data
test_list.remove('abc')
print(test_list)

# Indexing
print(test_list[:-1])

del test_list[-1]
print(test_list)

[1, 2, 3]
[1, 2, 3, 'abc']
[1, 2, 3, 'abc', 4]

[1, 2, 3, 4]
[1, 2, 3]
[1, 2, 3]

###  Tuple

In [0]:
test_tuple1 = (1,2,3)

print(test_tuple1)

# .index(data) → show the index of data
print(test_tuple1.index(3))

test_tuple2 = (7,3,4,2,6,2,3,2)

# .count(data) → count the number of data
print(test_tuple2.count(2))

(1, 2, 3)
2
3

### Dictionary

In [0]:
test_dict = {
    "apple": 0,
    "pear":1,
    "orange":[2,5],
    "strawberry":3,
    "blueberry":"value",
    "mango":4,
}

print(test_dict)

# print the dictionary keys and values
print(test_dict.keys())
print(test_dict.values(),end="\n\n")

# del → delete the dictionary
del test_dict["blueberry"]
print(test_dict)

# add dictionary
test_dict["dragonfruit"]=5
print(test_dict)

{'apple': 0, 'pear': 1, 'orange': [2, 5], 'strawberry': 3, 'blueberry': 'value', 'mango': 4}
dict_keys(['apple', 'pear', 'orange', 'strawberry', 'blueberry', 'mango'])
dict_values([0, 1, [2, 5], 3, 'value', 4])

{'apple': 0, 'pear': 1, 'orange': [2, 5], 'strawberry': 3, 'mango': 4}
{'apple': 0, 'pear': 1, 'orange': [2, 5], 'strawberry': 3, 'mango': 4, 'dragonfruit': 5}

## 4. Loop

In [0]:
for i in range(5):
    print(i)

print("\n")
for i in range(0,-5,-1):
    print(i)

0
1
2
3
4


0
-1
-2
-3
-4

In [0]:
a=0
while(a<10):
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

## 5. Function

In [0]:
def factorial(num):
    result = 1
    for i in range(1,num+1):
        result = result*i
    return result

print(factorial(5))

120

In [0]:
def linear_func(num,w,b):
    result = w*num+b
    return result

print(linear_func(5,4,3))

23

## 6. Class and Objects

In [0]:
class Workday(object):
    def __init__(self,name,age,appleNum):
        self.name = name
        self.age = age
        self.appleNum = 0
        
    def harvest(self):
        self.appleNum += 25
        
    def eat(self):
        self.appleNum -= 2

worker1 = Workday("Soozy Jung","18")
worker1.harvest()

print('Worker = ' + str(worker1.name))
print('Age = ' + str(worker1.age))
print('# of Apple = ' + str(worker1.appleNum))

worker1.eat()
print('# of Apple = ' + str(worker1.appleNum))

worker1.harvest()
print('# of Apple = ' + str(worker1.appleNum))

Worker = Soozy Jung
Age = 18
# of Apple = 25
# of Apple = 23
# of Apple = 48

In [0]:
class Drive_car(object):
    def __init__(self,car_name):
        self.car_name = car_name
        self.D_dist = 0
        
    def refuel(self):
        self.D_dist += 200
        
    def travel(self):
        self.D_dist -= 27
        
    def school(self):
        self.D_dist -= 13

Car1 = Drive_car("Whitecar")
print('Car = ' + str(Car1.car_name))

Car1.refuel()

Car1.school()

Car1.travel()

Car1.school()
print('Possible driving distance = ' + str(Car1.D_dist))

Car = Whitecar
Possible driving distance = 147